<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wenwu.pm">
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- sdk读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cat_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".activity.find.activity.topic.TopicActivity"/>

        <activity android:name=".activity.mine.activity.PersonShowActivity" />
        <activity android:name=".activity.publish.activity.ArticleReviewActivity" />
        <activity android:name=".activity.publish.activity.PublishLogActivity" />
        <activity android:name=".test.TakePhotoActivity" />
        <activity android:name=".activity.mine.activity.FansActivity" />
        <activity android:name=".activity.mine.activity.ConcernActivity" /> <!-- <activity android:name=".test.OkHttpTestActivity"/> -->
        <activity android:name=".test.HttpConnectionActivity" />
        <activity android:name=".activity.publish.activity.LongArticleActivity" />
        <activity android:name=".activity.mine.activity.DrawerActivity" />
        <activity android:name=".activity.publish.activity.QuestionActivity" />
        <activity android:name=".activity.message.activity.MsgReViewActivity" />
        <activity android:name=".activity.message.activity.MsgCollectPraiseActivity" />
        <activity android:name=".activity.message.activity.MsgAddNewConcernActivity" />
        <activity android:name=".activity.mine.activity.SettingActivity" />
        <activity android:name=".activity.mine.activity.EditPersonalInfoActivity" />
        <activity android:name=".activity.mine.activity.SetNewPasswordActivity" />
        <activity android:name=".activity.mine.activity.ForgetActivity" />
        <activity android:name=".activity.mine.activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.mine.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.message.activity.MsgActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wenwu.pm.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>